@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;    
}

.container#front{
    margin-top: -79px;
    position: relative;
    background-image: url("https://res.cloudinary.com/zharcloudapi/image/upload/v1622647075/Discover%20Cimahi/4_dkgbxm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
/* .landing-carousel{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
} */
nav{
    position: relative;
    z-index: 99;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    padding: 0 20px 0 0;
    float: right;

}

li a {
    display: block;
    color: #193534;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}

li a:hover {
    color: #4f7723;
}

.container#sejarah{
    padding: 100px clamp(50px,125px,150px);
    background-color: #193534;
    color: #fff;
}
h1{
    padding-bottom: 20px;
}

#tagline {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 40px;
    font-weight: 300;
    text-shadow:  10px 4px 2px rgba(25,53,52,0.2);
    color: #FFFFFF;
}